 
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;   
     
}

 
.slick-prev {
  left: 20px !important;
  z-index: 10;
}

 
.slick-next {
  right: 50px !important;
  z-index: 10;
}



.slick-dots li button:before {
         
  border: 2px solid green;
  border-radius: 50%;
 font-size: 2px !important;
  color: transparent !important;
  

}
.slick-dots li.slick-active button:before {
  background: green;
         font-size: 2px !important;
  border: 2px solid green;  
}
 
 

 